{% load static %}
{% include 'includes/header.html' %}
{% include 'includes/footer.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}YAAS{% endblock %}</title>
</head>
<body>

<header id="header" class="page-topbar">
    <!-- start header nav-->
    <div class="navbar-fixed">
        <nav class="navbar-color">
            <div class="nav-wrapper">
                <ul class="left">
                    <li><h1 class="logo-wrapper"><a href="{% url 'account:index' %}" class="brand-logo darken-1"><img
                            src="{% static '' %}images/yaas-1.jpeg" alt="logo"
                            style="position: absolute; top: -10px"></a> <span
                            class="logo-text">YAAS</span>
                    </h1></li>
                </ul>
                <form action="{% url 'account:index' %}" method="post" enctype="multipart/form-data" id="myForm">
                    {% csrf_token %}
                    <div class="header-search-wrapper hide-on-med-and-down">
                        <i class="mdi-action-search"></i>
                        <input type="text" name="Search" class="header-search-input z-depth-2"
                               placeholder="Search"/>
                    </div>

                    <ul class="right hide-on-med-and-down">
                        <li>
                            <div class="col s12 m3 l3 left">
                                <p>
                                    <button name="search_btn"
                                            class="btn-floating btn-large waves-effect waves-light brown" type="submit"
                                            style="position: absolute; margin-top: -10px; margin-left: -55px">
                                        <i class="mdi-action-search"></i></button>
                                </p>
                            </div>
                        </li>
                        <li><a href="#" data-activates="chat-out"
                               class="waves-effect waves-block waves-light chat-collapse"></a>
                        </li>
                        {#                        <li><a href="javascript:void(0);"#}
                        {#                               class="waves-effect waves-block waves-light translation-button"#}
                        {#                               data-activates="translation-dropdown">ENGLISH</a>#}
                        {#                        </li>#}
                        <li><a onclick="Eng_Clicked()"
                               class="waves-effect waves-block waves-light translation-button"
                               data-activates="translation-dropdown"><img src="{% static '' %}images/UK.png" alt="UK"/></a>
                        </li>
                        <li><a onclick="Fin_Clicked()"
                               class="waves-effect waves-block waves-light translation-button"
                               data-activates="translation-dropdown"><img src="{% static '' %}images/Finland.png"
                                                                          alt="Finnish"/></a></li>
                        <li><a href="javascript:void(0);"
                               class="waves-effect waves-block waves-light toggle-fullscreen"><i
                                class="mdi-action-settings-overscan"></i></a>
                        </li>
                    </ul>
                    <input type="hidden" id="language" name="language" value="">
                </form>
            </div>
        </nav>
    </div>
</header>

<main>
    <ul>
        <li><a class="active" href="{% url 'account:index' %}">
            {% if data.language == "Eng" %}
                Home
            {% else %}
                Koti
            {% endif %}
        </a></li>
        <li><a href="{% url 'auction:auction_add' %}">
            {% if data.language == "Eng" %}
                Auction
            {% else %}
                Huutokauppa
            {% endif %}
        </a></li>
        <li><a href="{% url 'auction:auction_browse' %}">
            {% if data.language == "Eng" %}
                Quick Browse
            {% else %}
                Nopea Näyttää
            {% endif %}
        </a></li>
        <li><a href="{% url 'auction:banned_auctions_list' %}">
            {% if data.language == "Eng" %}
                Banned Auctions
            {% else %}
                Kieltää Huutokauppa
            {% endif %}
        </a></li>
        <li><a href="{% url 'auction:data_generation' %}">
            {% if data.language == "Eng" %}
                Data Generate
            {% else %}
                Datan luominen
            {% endif %}
        </a></li>
        {% if data.logged_in %}
            <li style="float: right; color: white">
                <a href="{% url 'account:change_email' %}">
                    {% if data.language == "Eng" %}
                        Change Email
                    {% else %}
                        Muuttaa Sähköposti
                    {% endif %}
                </a>
            </li>
            <li style="float: right; color: white">
                <a href="{% url 'account:change_password' %}">
                    {% if data.language == "Eng" %}
                        Change Password
                    {% else %}
                        Muuttaa Salasana
                    {% endif %}
                </a>
            </li>
            <li style="float: right; color: white">
                <a href="{% url 'account:logout' %}">
                    {% if data.language == "Eng" %}
                        Logout
                    {% else %}
                        Merkitä Lainatuksi
                    {% endif %}
                </a>
            </li>
        {% else %}
            <li style="float: right; color: white">
                <a href="{% url 'account:login' %}">
                    {% if data.language == "Eng" %}
                        Sign In
                    {% else %}
                        Ilmoittautua
                    {% endif %}
                </a>
            </li>
            <li style="float: right; color: white">
                <a href="{% url 'account:register' %}">
                    {% if data.language == "Eng" %}
                        Register
                    {% else %}
                        Rekisteröinti
                    {% endif %}
                </a>
            </li>
        {% endif %}
    </ul>

    {% block content %}
    {% endblock %}

    {#    <footer class="page-footer">#}
    {#        <div class="footer-copyright">#}
    {#            <div class="container">#}
    {#                Copyright © 2019 <a class="grey-text text-lighten-4"#}
    {#                                    href="http://themeforest.net/user/geekslabs/portfolio?ref=geekslabs"#}
    {#                                    target="_blank">GeeksLabs</a>#}
    {#                All rights reserved.#}
    {#                <span class="right"> Design and Developed by <a class="grey-text text-lighten-4"#}
    {#                                                                href="http://geekslabs.com/">YAAS-Team</a></span>#}
    {#            </div>#}
    {#        </div>#}
    {#    </footer>#}

    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #00bcd4;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover:not(.active) {
            background-color: #111;
        }
    </style>

    <script>
        function Eng_Clicked() {
            document.getElementById("language").value = "Eng";
            document.getElementById("myForm").submit();
        }

        function Fin_Clicked() {
            document.getElementById("language").value = "Fin";
            document.getElementById("myForm").submit();
        }
    </script>

</main>

</body>

</html>
