{% extends 'includes/base.html' %}

{% block content %}
    <div class="container">
        <div class="section">
            <p class="caption">
                {% if data.language == "Eng" %}
                    List of Auction.
                {% else %}
                    Luettelo huutokaupasta
                {% endif %}
            </p>
            <div class="divider"></div>
            <div>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level_tag == 'error' %}
                            <div id="card-alert" class="card red lighten-5">
                                <div class="card-content red-text">
                                    <p><strong>{{ message.message }}</strong></p>
                                </div>
                            </div>
                        {% elif message.level_tag == 'success' %}
                            <div id="card-alert" class="card green lighten-5">
                                <div class="card-content green-text">
                                    <p>{{ message.message }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div id="bordered-table">
                <h4 class="header">
                    {% if data.language == "Eng" %}
                        Auctions By {{ data.username }}
                    {% else %}
                        Huutokaupat {{ data.username }}
                    {% endif %}
                </h4>
                <div class="row">
                    <div class="col s12 m4 l3">
                        <p>
                            {% if data.language == "Eng" %}
                                Added auctions ...
                            {% else %}
                                Lisätty huutokauppoja ...
                            {% endif %}

                        </p>
                    </div>
                    <div class="col s12 m8 l9">
                        <table class="bordered">
                            <thead>
                            <tr>
                                {% if data.language == "Eng" %}
                                    <th data-field="id">Title</th>
                                    <th data-field="name">Minimum Price</th>
                                    <th data-field="price">Deadline</th>
                                    <th data-field="action">Action</th>
                                {% else %}
                                    <th data-field="id">Otsikko</th>
                                    <th data-field="description">Kuvaus</th>
                                    <th data-field="name">Aloitushinta</th>
                                    <th data-field="price">Takaraja</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for data in list %}
                                <tr>
                                    <td>{{ data.title }}</td>
                                    <td>{{ data.min_price }}</td>
                                    <td>{{ data.deadline }}</td>
                                    <td class="text-right">
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="{% url 'auction:auction_edit' data.id %}"
                                                   title="Edit"><i class="mdi-editor-border-color"></i>
                                                    Edit
                                            </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
