{% extends 'includes/base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="section">
            <p class="caption">
                {% if data.language == "Eng" %}
                    Selected Auction
                {% else %}
                    Valittu huutokauppa
                {% endif %}
            </p>
            <div class="divider"></div>
            <div>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level_tag == 'error' %}
                            <div id="card-alert" class="card red lighten-5">
                                <div class="card-content red-text">
                                    <p><strong>{{ message.message }}</strong></p>
                                </div>
                            </div>
                        {% elif message.level_tag == 'success' %}
                            <div id="card-alert" class="card green lighten-5">
                                <div class="card-content green-text">
                                    <p>{{ message.message }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div id="icon-prefixes" class="section">
                <h4 class="header">
                    {% if data.language == "Eng" %}
                        Auction Details
                    {% else %}
                        Huutokaupan yksityiskohdat
                    {% endif %}
                </h4>
                <div class="row">
                    <div class="col s12 m4 l3">
                        <p>
                            {% if data.language == "Eng" %}
                                Title - {{ auc_obj.title }}<br>
                                Description - {{ auc_obj.description }}<br>
                                Starting Price - {{ auc_obj.min_price }} €<br>
                                Deadline - {{ auc_obj.deadline }}<br>
                                Minimum Bid - {{ min_bid }} €<br>
                            {% else %}
                                Otsikko - {{ auc_obj.title }}<br>
                                Kuvaus - {{ auc_obj.description }}<br>
                                Aloitushinta - {{ auc_obj.min_price }} €<br>
                                Takaraja - {{ auc_obj.deadline }}<br>
                                Minimihinta - {{ min_bid }}<br>
                            {% endif %}
                        </p>
                    </div>
                    <div class="col s12 m8 l9">
                        <div class="row">
                            <form action="" class="col s12" method="post" enctype="multipart/form-data" id="bid_form">
                                {% csrf_token %}
                                <div class="input-field col s4">
                                    <i class="mdi-maps-local-atm prefix"></i>
                                    <label>
                                        {% if data.language == "Eng" %}
                                            Currency List
                                        {% else %}
                                            Valuuttalista
                                        {% endif %}
                                    </label>
                                    <br>
                                    <p>
                                        <input checked name="group1" type="radio" id="eur"
                                               onclick="setCurrency(this.id)"/>
                                        <label for="eur">EUR/€</label>
                                    </p>
                                    <p>
                                        <input class="with-gap" name="group1" type="radio" id="usd"
                                               onclick="setCurrency(this.id)"/>
                                        <label for="usd">USD/$</label>
                                    </p>
                                    <p>
                                        <input class="with-gap" name="group1" type="radio" id="cad"
                                               onclick="setCurrency(this.id)"/>
                                        <label for="cad">CAD</label>
                                    </p>
                                    <p>
                                        <input class="with-gap" name="group1" type="radio" id="bdt"
                                               onclick="setCurrency(this.id)"/>
                                        <label for="bdt">BDT</label>
                                    </p>
                                </div>
                                <div class="input-field col s6">
                                    <i class="mdi-editor-attach-money prefix"></i>
                                    <input id="bid_amount" name="bid_amount" type="number" step="0.01" class="validate"
                                           required>
                                    <label for="bid_amount">
                                        {% if data.language == "Eng" %}
                                            Amount
                                        {% else %}
                                            Määrä
                                        {% endif %}
                                    </label>
                                </div>
                                <div id="convert_div" class="input-field col s2">
                                    <input id="amount" name="amount" type="number" readonly value="0"/>
                                    <label for="amount">In EUR(€) ... </label>
                                </div>
                                <input type="hidden" id="currency" name="currency" value="eur">
                                <input type="hidden" id="min_price" name="min_price" value="{{ min_bid }}">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <button class="btn cyan waves-effect waves-light right" type="submit"
                                                name="action">
                                            {% if data.language == "Eng" %}
                                                Submit
                                            {% else %}
                                                Lähetä
                                            {% endif %}
                                            <i class="mdi-content-send right"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static '' %}js/others/jquery-3.2.1.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#convert_div').hide();

            var activities = document.getElementById("bid_amount");
            activities.addEventListener("input", function () {
                var bid_amount = document.getElementById('bid_amount').value;
                var currency = document.getElementById('currency').value;
                if (currency == "eur") {
                    document.getElementById("amount").value = bid_amount;
                }
                $.ajax({
                    url: '/auction/convert/' + bid_amount + '/' + currency + '/',
                    type: 'post',
                    data: {depart: bid_amount, currency},
                    dataType: 'json',
                    success: function (response) {
                        document.getElementById("amount").value = response;
                    }
                });
            });

            $("#bid_form").submit(function (event) {
                event.preventDefault();
                var min_price = document.getElementById("min_price").value;
                var amount = document.getElementById("amount").value;
                if (parseFloat(amount) > parseFloat(min_price)) {
                    $("#bid_form").unbind('submit').submit();
                } else {
                    swal("Bid a bigger amount...");
                }
            });
        });

        function setCurrency(c_id) {
            document.getElementById("bid_amount").value = 0.00;
            document.getElementById("amount").value = 0.00;
            document.getElementById("currency").value = c_id;
            if (c_id != "eur") {
                $('#convert_div').show();
            } else {
                $('#convert_div').hide();
            }
        }
    </script>

{% endblock %}
