{% extends 'includes/base.html' %}

{% block content %}

    <div class="container">
        <div class="section">
            <p class="caption">
                {% if data.language == "Eng" %}
                    Add an Auction.
                {% else %}
                    Lisää huutokauppa
                {% endif %}
                <span style="float: right">
                <a class="btn waves-effect waves-light purple" href="{% url 'auction:auction_browse' %}">
                    {% if data.language == "Eng" %}
                        Browse Auctions
                    {% else %}
                        Selaa huutokauppoja
                    {% endif %}
                    <i class="mdi-action-open-in-browser left"></i></a>
                <a class="btn waves-effect waves-light grey" href="{% url 'auction:auction_list' %}">
                    {% if data.language == "Eng" %}
                        Created Auctions
                    {% else %}
                        Luotu huutokauppoja
                    {% endif %}
                    <i class="mdi-image-add-to-photos right"></i></a>
            </span>
            </p>
            <div class="divider"></div>
            <div>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level_tag == 'error' %}
                            <div id="card-alert" class="card red lighten-5">
                                <div class="card-content red-text">
                                    <p><strong>{{ message.message }}</strong></p>
                                </div>
                            </div>
                        {% elif message.level_tag == 'success' %}
                            <div id="card-alert" class="card green lighten-5">
                                <div class="card-content green-text">
                                    <p>{{ message.message }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div id="basic-form" class="section">
                <div class="row">
                    <div class="col s8 m8 16" style="float: right">
                        <div class="card-panel">
                            <h4 class="header2">
                                {% if data.language == "Eng" %}
                                    Auction Form
                                {% else %}
                                    Huutokaupan muoto
                                {% endif %}
                            </h4>
                            <div class="row">
                                <form action="" class="col s12" method="post" enctype="multipart/form-data"
                                      id="auction_form">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        {% if field.label != "Deadline" %}
                                            <div class="input-field col s12">
                                                <label for="{{ field.id_for_label }}">{{ field.label }} <span
                                                        class="text-danger">*</span></label>
                                                {{ field }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    {#                                    <div class="input-field col s12">#}
                                    {#                                        <label for="datetimepicker">Deadline <span class="text-danger">*</span></label>#}
                                    {#                                        <input id="datetimepicker" type="text">#}
                                    {#                                    </div>#}
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <button class="btn cyan waves-effect waves-light right" type="submit"
                                                    name="action">
                                                {% if data.language == "Eng" %}
                                                    Submit
                                                {% else %}
                                                    Lähetä
                                                {% endif %}
                                                <i class="mdi-content-send right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#auction_form").submit(function (event) {
                event.preventDefault();
                confirmMessage();
            });
        });

        function confirmMessage() {
            swal({
                    title: "Auction Add",
                    text: "Are you sure to create an auction?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function (isConfirm) {
                    if (!(isConfirm)) {
                        swal("Auction not created.", "success");
                    } else {
                        $("#auction_form").unbind('submit').submit();
                    }
                });
        }

        {#        $(function () {#}
        {#            $("#datetimepicker").datetimepicker();#}
        {#        });#}
    </script>

{% endblock %}
