{% extends 'includes/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="section">
            <p class="caption">
                {% if data.language == "Eng" %}
                    List Products
                {% else %}
                    Luettelo tuotteita
                {% endif %}
            </p>
            <div class="divider"></div>
            <div>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level_tag == 'error' %}
                            <div id="card-alert" class="card red lighten-5">
                                <div class="card-content red-text">
                                    <p><strong>{{ message.message }}</strong></p>
                                </div>
                            </div>
                        {% elif message.level_tag == 'success' %}
                            <div id="card-alert" class="card green lighten-5">
                                <div class="card-content green-text">
                                    <p>{{ message.message }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div id="icon-prefixes" class="section">
                <div class="row">
                    <div class="col s12 m8 l9">
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <i class="mdi-action-account-circle prefix"></i>
                                        <input id="search" type="text" class="validate" placeholder="Search.."
                                               name="search">
                                        <label for="search">
                                            {% if data.language == "Eng" %}
                                                Search
                                            {% else %}
                                                Hae
                                            {% endif %}
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div id="bordered-table">
                <h4 class="header">
                    {% if data.language == "Eng" %}
                        Active Items
                    {% else %}
                        Aktiiviset tuotteet
                    {% endif %}
                </h4>
                <div class="row">
                    <div class="col s12 m4 l3">
                        <p>Items ... </p>
                    </div>
                    <div class="col s12 m8 l9">
                        <table class="bordered" id="browse">
                            <thead>
                            <tr>
                                {% if data.language == "Eng" %}
                                    <th data-field="id">Title</th>
                                    <th data-field="name">Description</th>
                                    <th data-field="name">Minimum Price</th>
                                    <th data-field="price">Deadline</th>
                                    <th data-field="action">Action</th>
                                {% else %}
                                    <th data-field="id">Otsikko</th>
                                    <th data-field="name">Kuvaus</th>
                                    <th data-field="name">Aloitushinta</th>
                                    <th data-field="price">Takaraja</th>
                                    <th data-field="action">Toiminta</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for data in list %}
                                <tr>
                                    <td>{{ data.title }}</td>
                                    <td>{{ data.description }}</td>
                                    <td>{{ data.min_price }}</td>
                                    <td>{{ data.deadline }}</td>
                                    <td class="text-right">
                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <a href="{% url 'auction:auction_bid' data.id %}"
                                                   class="btn waves-effect waves-light green"
                                                   title="Edit"><i class="mdi-action-add-shopping-cart"></i>
                                                    Bid
                                                </a>
                                            </li>
                                            <li><a href="{% url 'auction:auction_ban' data.id %}"
                                                   class="btn waves-effect waves-light red"
                                                   title="Edit"><i class="mdi-content-block"></i>
                                                Ban
                                            </a></li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {#            <div class="row">#}
            {#                <h4 class="header">Active Items</h4>#}
            {#                {% for data in list %}#}
            {#                    <article class="col s12 m6 l4">#}
            {#                        <div class="card light-blue">#}
            {#                            <div class="container">#}
            {#                                <h4><b>{{ data.title }}</b></h4>#}
            {#                                <p>{{ data }}</p>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </article>#}
            {#                {% endfor %}#}
            {#            </div>#}
        </div>
    </div>

    <script src="{% static '' %}js/others/jquery-3.2.1.min.js"></script>

    <script>
        $(document).ready(function () {
            var activities = document.getElementById("search");
            activities.addEventListener("input", function () {
                var search = document.getElementById('search').value;
                $.ajax({
                    url: '/auction/search_auction/' + search + '/',
                    type: 'post',
                    data: {depart: search},
                    dataType: 'json',
                    success: function (response) {
                        $("#browse tbody tr").remove();
                        for (i = 0; i < response.length; i++) {
                            var id_now = response[i]['id'];
                            var title = response[i]['title'];
                            var description = response[i]['description'];
                            var min_price = response[i]['min_price'];
                            var deadline = response[i]['deadline'];
                            $('#browse tbody').append('<tr>' +
                                '<td>' + title + '</td>' +
                                '<td>' + description + '</td>' +
                                '<td>' + min_price + '</td>' +
                                '<td>' + deadline + '</td>' +
                                '<td class="text-right">\n' +
                                '   <ul class="dropdown-menu pull-right">\n' +
                                '       <li>' +
                                '            <a href="http://127.0.0.1:8009/auction/bid/' + id_now + '/" id="obj" title="Bid">\n' +
                                '            <i class="mdi-action-add-shopping-cart"></i> Bid</a>\n' +
                                '       </li>\n' +
                                '   </ul>\n' +
                                '</td>' +
                                '</tr>'
                            );
                        }
                    }
                });
            });
        });
    </script>

{% endblock %}
